/*////////////////////////////////////////////////////////////////////////
//  00- Common style & utility
///////////////////////////////////////////////////////////////////////*/
main{
    margin: 30px 25px;
}
.flexible-content{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}


/*////////////////////////////////////////////////////////////////////////
//  01- Banner section design
///////////////////////////////////////////////////////////////////////*/
.web-banner{
    width: 100%;
    border-radius: 30px;
    background-size: cover;
}
.banner-header {
    width: 531px;
    height: 424px;
    padding: 0px 50px;
}
.banner-header h2 {
    font-size: 61px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
}
.banner-header p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    padding-bottom: 30px;
}
.web-banner aside{
    
}
.live-btn{
    background: #DD0000;
    width: 187px;
    height: 56px;
    border-radius: 5px;
    padding: 16px 25px;
    border: none;
    cursor: pointer;
    transition: width 1s;
}
.live-btn:hover{
    width: 300px;
}
.live-btn a{
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}  
.banner-image img{
    background-size: cover;
    height: 613px;
    padding-top: 33px;
    padding-right: 70px;
}
