/*////////////////////////////////////////////////////////////////////////
//  00- Common style & utility
///////////////////////////////////////////////////////////////////////*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
}
/* Font face */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}
main{
    box-sizing: border-box;
    background: #FFFFFF;
    margin: 50px 100px;
}
.flexible-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*////////////////////////////////////////////////////////////////////////
//  01- Banner section design
///////////////////////////////////////////////////////////////////////*/
#blog-banner-section{
    width: 100%;
    background-color: #161616;
    height: 646px;
    border-radius: 30px;
    background-size: cover;
}
#blog-banner-section article{
    flex-basis: 50%;
    padding: 0px 50px;
}
#blog-banner-section aside{
    flex-basis: 50%;
    text-align: center;
}

.banner-heading{
    font-size: 61px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
}
.banner-desc{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    padding-bottom: 30px;
}
.live-btn{
    background: #DD0000;
    width: 187px;
    height: 56px;
    border-radius: 5px;
    padding: 16px 25px;
    border: none;
    cursor: pointer;
    transition: width 1s;
}
.live-btn:hover{
    width: 300px;
}
.live-btn a{
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.banner-image{
    width: 100%;
    height: 613px;
    padding-top: 33px;
    padding-right: 70px;
}


/*////////////////////////////////////////////////////////////////////////
//  02- Blogs section design
///////////////////////////////////////////////////////////////////////*/
.left-menu{
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    margin-right: 24px;
}
.left-menu ul{
    padding: 30px; 
    width: 254px;
    height: 254px;
}
.left-menu ul li {
    width: 254px;
    height: 60px;
    margin-bottom: 30px;
    background: #FFFFFF;
    border-radius: 10px;
    list-style: none;
}
#blog, #upcoming-match{
    background-color: #DD0000;
}
.left-menu li:hover{
    background-color: #DD0000;
    transition: 0.8s;
}
.left-menu ul li a{
    color: #161616;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    padding: 17px 39px;
    text-align: center;
    display: block;
}
.blogs{
    align-items: flex-start;
    margin-top: 100px;
}
.blog{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    width: 100%;
}
.blog-card{
    width: 250px;
    height: 362px;
    border: 0.01px solid #dfd9d9;
    border-radius: 10px;
}
.blog-card img{
    width: 250px;
    height: 175px;
}
.blog-detail p{
    padding: 10px 18px;
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
    color: #161616;
    padding-top: 0;
}
.transfer-btn{
    width: 100px;
    height: 32px;
    background-color: #FFFFFF;
    cursor: pointer;
    margin: 20px;
    border: 1px solid;
    border-radius: 5px;
}
.transfer-btn a{
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #161616;
}
.blog-icon span {
    padding: 6px 18px;
    margin-right: 5px;
}
.fa-regular{
    font-weight: 400;
    font-size: 16px;
    color: rgba(22, 22, 22, 0.7);
}
#view-all {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}



/*////////////////////////////////////////////////////////////////////////
//  03- Footer section design
///////////////////////////////////////////////////////////////////////*/
footer{
    margin-top: 100px;
    background: #161616;
    height: 444px;
}
footer p{
    font-size: 40px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 60px;
    padding-bottom: 50px;
    text-align: center;
    padding-top: 100px;
}
hr{
    width: 80%;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 140px;
}
footer ul{
    padding-top: 50px;
    text-align: center;
    height: 30px;
}
footer li{
    list-style: none;
    display: inline-block;
    margin-right: 50px;
}
footer li:last-child{
    margin-right: 0;
}
footer nav a, small{
    text-decoration: none;
    color: #B9B9B9;
    font-weight: 500;
    font-size: 16px;
}
footer li:hover{
    border-bottom: 3px solid red;
}
.social-media {
    padding-top: 50px;
    text-align: center;
}
small{
    color: #DD0000;
}
.fa-brands {
    font-size: 35px;
    color: #FFFFFF;
    margin-left: 25px;
    opacity: 0.7;
    transition: transform 1s;
}
.fa-brands:hover{
    opacity: 1;
    transform: scale(1.5);
}


/*////////////////////////////////////////////////////////////////////////
//  04- Responsive styles
///////////////////////////////////////////////////////////////////////*/

/* Small device Mobile */
@media screen and (max-width: 576px) {
    body{
        font-size: 75%;
    }
    main{
        margin: 20px 15px;
    }
    #web-banner-section{
        min-height: auto;
    }
    #web-banner-section article{
        width: 100%;
    }
    #web-banner-section img{
        max-width: 100%;
    }
    .web-banner article{
        width: 100%;
    }

    .banner-image img{{
        width: 100%;
    }
    .banner-header h2{
        font-weight: 700;
        font-size: 45px;
        text-align: center;
        padding: 60px 50px;
    }
    .banner-header p {
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        padding: 0 55px;
    }
    .live-btn{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 12px;
        width: 161px;
        height: 40px;
    }
    .banner-image img{
        background-size: cover;
        height: 613px;
        padding-top: 33px;
        padding-right: 70px;
    }
    footer li{
        display: block;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }


}



/* Tablate */
@media screen and (max-width:768){
    .left-menu{
        display: inline;
    }
    .blog{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}