/*////////////////////////////////////////////////////////////////////////
//  00- Common style & utility
///////////////////////////////////////////////////////////////////////*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

/*////////////////////////////////////////////////////////////////////////
//  01- Banner section design
///////////////////////////////////////////////////////////////////////*/
.web-banner{
   
}


